<h2>  <%= @restaurant.name %> </h2>
<br>
<p> Review: <%= @review.content %> </p>
<p> Rating: <%= @review.rating %> </p>
<br>
<%= link_to 'Back to restaurants', restaurants_path, class: "btn btn-danger btn-sm" %>
