<div style="text-align:center">
  <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <a class="btn btn-primary" href="/restaurants" role="button">Restaurants</a>
    <a class="btn btn-primary" href="restaurants/new" role="button">Add new restaurant</a>
  </form>
</nav>
</div>
